/*
 * Styles for use by idMyGadget code
 */
/*
 * Styles used for phones
 */
img.logo-file-phone {
	display: inline;
	float: left;
	height: 50px;
	margin: 0.5em;
	padding: 0.5em;
	width: 50px;
}
.site-name-phone {
	display: inline;
	text-align: left;
	vertical-align: left;
}
.site-title-phone,
.site-description-phone {
	display: block;
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	vertical-align: left;
}
/*
 * Styles used for tablets
 */
img.logo-file-tablet {
	display: inline;
	float: left;
	height: 100px;
	width: 100px;
}
/*
 * Styles used for the error message
 */
div.idmygadget-error {
	background-color: white;
	border: solid 2px red;
	color: red;
	margin: 1em;
	padding: 1em;
}
a.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}
a.idmygadget-error:hover {
	color: blue;
	text-decoration: underline;
}
span.idmygadget-error {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

